<section>
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #selectedClass (change)="0">
        <option value="success">Sucesso</option>
        <option value="warning">Alerta</option>
        <option value="error">Erro</option>
      </select>
    </div>

    <div [class]="selectedClass.value">A classe selecionada foi {{ selectedClass.value }}</div>
    <div [style.display]="selectedClass.value == 'error' ? 'block' : 'none'">Error</div>
  </article>

</section>

<section>

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é:  {{ 1 + 1 }}</p>
    <p>Função interpolada  {{ getValor() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    
     <!--syntax sugar-->
    <img [src]="urlImagem">
    <!-- Behind the scenes -->
    <img bind-src="urlImagem">


    <img bind-src="urlImagem" [width]="setWidth(50)" [height]="setHeight(50)">
  </article>

</section>
