<section>
  <article>
      <h3>Input / Output de properties</h3>
      <app-input-property [someInput]="someValue"></app-input-property>

      <contador valor="10" (mudouValor)="onMudouValor($event)"></contador>
  </article>
</section>

<section> 
  <article>
    <h3>Two-way data binding</h3>
    <div>

      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      >

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      >
      <!-- syntax sugar-->
      <input type="text"
        [(ngModel)]="nome"
      >
      <!--behind the scenes-->
      <input type="text"
        bindon-ngModel="nome"
      >

      <p>Você digitou o valor de {{ nome }}</p>

    </div>

    <div>
      <input type="text" [(ngModel)]="pessoa.nome" />
      <input type="text" [(ngModel)]="pessoa.idade" />

      <p>Nome: {{ pessoa.nome }}</p>
      <p>Idade: {{ pessoa.idade }}</p>
    </div>
  </article>
</section>

<section>
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="click()">Me clique</button>

      <input type="text"
       (keyup)="onKeyup($event)"
       (keyup.enter)="persistValue(inputElement.value)"
       (blur)="persistValue(inputElement.value)"
       #inputElement />
       <p>Valor atual : {{ currentValue }}</p>
       <p>Valor salvo com enter: {{ storedValue }}</p>
    </div>

    <p 
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOver()"
      [class.hightlight]="isMouseOver"
    >Passe o mouse</p>
  </article>
</section>



<section>
  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #selectedClass (change)="0">
        <option value="success">Sucesso</option>
        <option value="warning">Alerta</option>
        <option value="error">Erro</option>
      </select>
    </div>

    <div [class]="selectedClass.value">A classe selecionada foi {{ selectedClass.value }}</div>
    <div [style.display]="selectedClass.value == 'error' ? 'block' : 'none'">Error</div>
  </article>

</section>

<section>

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é:  {{ 1 + 1 }}</p>
    <p>Função interpolada  {{ getValor() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    
     <!--syntax sugar-->
    <img [src]="urlImagem">
    <!-- Behind the scenes -->
    <img bind-src="urlImagem">


    <img bind-src="urlImagem" [width]="setWidth(50)" [height]="setHeight(50)">
  </article>

</section>
